[push]
	default = "simple"
[user]
	signingkey = 8D2658F1
	email = nabijaczleweli@nabijaczleweli.xyz
	name = наб
[color]
	ui = auto
[credential]
	helper = store
[core]
	longPaths = true
	fscache = true
[commit]
	gpgsign = true
[gpg]
	program = gpg
[alias]
	diffs = diff --staged
	camend = commit --amend
	llog = log --no-show-signature
[log]
	showSignature = true
[mergetool]
	keepBackup = false
[rerere]
	enabled = true
[format]
	headers = "X-Mutt-PGP: OS\n"
[am]
	messageid = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[pull]
	rebase = true
[rebase]
	abbreviateCommands = true
[tag]
	sort = taggerdate
